* {
	font-family: "Tahoma", sans-serif;
}
body {
	margin: 0;
}
body h2 {
	margin-left: 85px;
	font-weight: normal;
}
table {
	margin-left: 25px;
	border: 1px solid; 
}
table th {
	text-align: center;
	padding-left: 5px;
}